.slide-in {
  transform: translateX(-100%); /* 初期状態で左から非表示にする */
  transition: transform 0.3s ease-in-out; /* アニメーションのトランジション設定 */
}

.slide-in.visible {
  transform: translateX(0%); /* 表示時の位置にスライドイン */
}

::-webkit-scrollbar {
  width: 8px; /* スクロールバーの幅 */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* スクロールバーの色 */
  border-radius: 5px; /* スクロールバーの丸み */
}
